.App {
  display: block;
  text-align: center;
  background-color: #dea473;
  min-height: calc(100vh - 30px);
  padding: 0 0 30px 0;
  min-width: 850px;
}

.AppWrapper {
  width: 850px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
}


/*
	Pokemon #56: http://pokepalettes.com/
*/
